/* nav */
.navbar{
	padding: 0px 15px;
}
.logo-nav{
	width: 180px;
}
.nav-link{
	padding: 0px 15px !important;
}
nav a:hover{
	color: #ff9900;
	text-decoration: underline;
}
.navbar.scrolled {
	padding: 5px 60px;
	background-color: rgba(90,90,90,0.8);
	transition: background-color 200ms linear;
}
.logo-nav.scrolled{
	width: 45px;
}
nav ul li a{
	font-size: 0.8em;
	color: #000;
}

/*containers*/
/*.con1{
	background: url('../img/bg6.jpg');
}*/
.con2{
	margin-bottom: 60px;
}
.con3{
	margin-top: 70px;
	margin-bottom: 60px;
	background-color: #f7f7f7;
}
.con6{
	background-color: red;
	position: fixed;
	height: fit-content;
	top: 100px;
	right: 0;
    left: 0;
	z-index: 9999;
}
.accordion{
	background-color: #fff;
	height: fit-content;
	width: 550px;
	position: fixed;
	bottom: 0;
	z-index: 9999;
}
.cartFormDiv{
	display: none;
}
.cartFormDivShow{
	display: initial;
}
.cartForm{
	padding: 15px;
}
.row-about-p{
	padding-top: 30px;
	padding-bottom: 120px;
	background: url('../img/bg4.jpg');
}
.con5{
	padding: 0;
}
.con5 .row1{
	padding-top: 45px;
	padding-right: 60px;
	padding-left: 60px;
	padding-bottom: 15px;
	background-color: #f2f1e7;
}
.con-bg{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.att-info{
	padding: 0px 10px;
}
/*all text*/
.p1,.btn1,.card-title{
	color: #ffffff;
}
.he1{
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 30px;
	padding: 30px 300px;
	font-size: 3.5em;
}
.he2{
	margin-top: 90px;
	width: 210px;
	border-bottom: 4px solid #ff5500;
}
.he3{
	margin-top: 15px;
}
.he4{
	margin-top: 30px;
	margin-bottom: 60px;
}
.he3,.he4{
	width: 270px;	
}
.he2,.he4{
	font-family: 'Source Sans Pro', sans-serif;
	color: #414141;
}
.p1,.p2{
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
}
.p1{
	font-size: 0.9em;
	padding: 15px 300px;
}
.p2,.p2-1{
	color: #b2b2b2;
	text-align: justify;
	padding: 30px 240px;
	font-weight: 400 !important;
	line-height: 2;
}
.p2-1{
	padding-top:0px !important;
	display: block;
	margin-bottom: 10px;
}
.price-p{
	margin-bottom: 0;
	font-size: 0.75em;
	font-weight: light;
}
.att-heading{
	font-weight: bolder;
	margin-bottom: 15px;
}
.att-price{
	margin: 0;
	color: #5480c7;
	font-family: helvetica;
	font-weight: bold;
	font-size: 1.2em;
	font-style: italic;
}
.att-subheading{
	text-align: left;
	margin-bottom: 0;
}
.att-text{
	font-size: 0.75em;
	text-align: left;
	font-weight: light;
	color: #696969;
	margin-bottom: 0;
}
/*buttons*/
.btn1{
	padding: 7.5px 37.5px;
	background-color: #ff5500;
	border-radius: 10px;
	font-family: 'Roboto',sans-serif;
	font-weight: 700;
}
.btn-buy{
	border-radius: 40px;
	border: none;
	background-color: #ff9900;
	padding: 5px 27px;
	font-size: 0.9em;
}
.btn-seeMore{
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid #ff9900;
	border-radius: 40px;
	background-color: transparent;
	padding: 7.5px 75px;
	font-size: 0.6em;
	font-weight: bolder;
}
.btn-seeMore:hover{
	background-color: #ff9900;
	color: #fff;
}
.accordion-button{
	width: 100%;
	border: none;
	border-radius: 0px;
}
.cartButton{
	font-size: 0.8em;
	padding: 5px 10px;
}
/*cards*/
.card-deck{
	padding: 30px 90px;
}
.card-header{
	background-color: #f2f1e7;
	padding: 0;
	border: none;
}
.card-titel,.card-text,.a-cards{
	font-family: 'Open Sans', sans-serif;
}
.card-title{
	position: relative;
	padding: 7.5px;
	margin-bottom: 0;	
	font-size: 1.5em;
	z-index:200;
	font-weight: 700;
	color: #000;
}
/*.card-text{
	color: #b5b5b5;
	padding: 15px 15px;
	font-weight: 400 !important;
	height: 150px;
}*/
.a-cards{
	color: #034670;
	font-weight: 700;
}
.card{
	border:none;
	box-shadow: 0px 0px 5px #e2e2e2;
	height: fit-content;
}
.card-img{
	width: 100%;
}
.card-body{
	padding: 5px;
}
.buy-row{
	padding: 5px;
	margin-bottom: 10px;
}
/*form*/
.form1{
	margin: 30px 180px;
}
.form-control{
	border:none;
	background-color: #f9f9f9;
	padding: 5px 0px 5px 15px;
	margin-bottom: 15px;
}
.form-control::placeholder { 
    color: #bcbcbc;
    font-size: 0.8em;
    opacity: 1; 
}

.form-control:-ms-input-placeholder { 
    color: #bcbcbc;
    font-family: 'Roboto',sans-serif;
    font-size: 1em;
}

.form-control::-ms-input-placeholder { 
    color: #bcbcbc;
    font-family: 'Roboto',sans-serif;
    font-size: 1em;
}
/*textarea{
	height: 100%;
	margin-bottom: 30px;
}*/
#input3{
	margin-bottom: 0;
}
.btn2{
	padding-right: 30px;
	padding-left: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
}
/* table */
.table{
	font-size: 0.8em;
}
tr{
	border-bottom: 1px solid #e2e2e2;
}
/*footer*/
.p-footer-end{
	color: #000;
	font-size: 0.8em;
	margin-left: 90px;
	padding-top: 15px;
}
.row-end{
	background-color: #e2e2e2;
}
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.p-footer::before {
  	font-family: "Font Awesome 5 Free";
  	font-weight: 900;
  	content: "\f3c5";
  	background-color: #f4f4f6;
  	color: #cdcdd2;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	padding: 10px;
	font-size: 1em;
	margin-right: 10px;
}
.call::before{
	content: '\f095';
}
.email::before{
	content: '\f0e0';
}
.p-footer,.p-footer-inside{
	font-family: 'Open Sans', sans-serif;
	color: #000;
}
.p-footer{
	font-weight: bolder;
}
.p-footer-inside{
	display: block;
	margin-bottom: 10px;
	margin-left: 45px;
	font-weight: lighter;
}
.col-footer{
	padding-right: 52.5px;
	padding-left: 52.5px;
}
.mobShow{
	display: none;
}
.thanks{
	display: none;
}
.os{
	display: initial;
	margin-bottom: 75px;
}
.f-submit{
	margin-bottom: 60px;
}
.mobShow2{
	margin-bottom: 30px;
}


.modal-dialog{
	width: 300px;
}
.modal-header{
	padding: 0;
}
.modal-att-img{
	width: 100%;
}

.form-modal{
	border:none;
	background-color: #f9f9f9;
	padding: 10px 30px;
	width: 100%;
	margin: 5px 0px;
}

/*mobile*/
@media only screen and (max-device-width : 768px){
	.he1,.p1,.p2,.p2-1,.card-deck{
		padding:initial;
	}
	form,.p-footer-end{
		margin: initial;
	}
	.he1{
		font-size: 2em;
		margin-top: 210px;
	}
	.con5 .row1{
		padding-right: initial;
		padding-left: initial;
	}
	.col-footer{
		padding-left: 15px;
		padding-right: 15px;
	}
	.p-footer-inside{
		font-size: 0.7em;
	}
	.he4{
		margin-top: 90px;
	}
	.card-deck-2{
		margin-top: 15px;
	}
	.nav-item{
		padding: 10px;
	}
	.mobShow{
		display: initial;
	}
	.logo-nav{
		width: 45px;
	}
	.he-mob{
		font-size: 0.75em;
		color: #ffffff;
	}
	.os{margin-bottom: 45px;}
	.accordion{
		width: 90%;
	}
}